
body {
   max-width: 1440px;
   margin: auto;
   font-family: arial;
   font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}





/* HERO-SECTION */
.hero-section {
    width: 1440px;
    height: 1024px;
    background-color: #FFFFFF;
}

.hero-section {
    background-image: url('Images/bg\ aurora.svg'), 
                      url('Images/bg\ aurora\ \(1\).svg'),
                      url('Images/bg\ aurora\ \(2\).svg'),
                      url('Images/hero-illustration-bg.svg');
    background-position: right top, center top , left top, 400px 620px;
    background-repeat: no-repeat, no-repeat, no-repeat ;
}

.navigation-bar {
    margin: auto;
    position: relative;
    top: 12px;
    display: flex;
    justify-content: space-between;
    width: 1150px;
    height: 44px;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 155px;
    height: 40px;
    padding: 8px;
}

.navigation-bar-2 ul {
    width: 504px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.navigation-bar-2 img {
    width: 12px;
    height: 6px;
    margin-inline-start: 10px;
}


.navigation-bar-3 ul {
    width: 211px;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 10px;
}

.navigation-bar-3-log-in {
    width: 45px;
    height: 20px;
}

.navigation-bar-3-button {
    box-sizing: border-box;
    background-color: rgba(0, 101, 254, 1);
    color: white;
    border-radius: 100px;
    padding: 12px 24px 12px 24px;
    width: 142px;
    height: 40px;
    margin-block-start: -12px;
}

.navigation-bar-3-button a {
    color: white;
}

.hero-section-info {
    width: 948px;
    height: 389px;
    position: relative;
    top: 150px;
    left: 246px;
    text-align: center;
}

.hero-section-info h1 {
    margin: 0;
    max-width: 948px;
    font-size: 45px;
    line-height: 1.5;
}

.hero-section-info h1 span {
    color: #005AE2;
}

.hero-section-info img {
    width: 173px;
    height: 19px;

}

.hero-section-info p {
    width: 781px;
    text-align: center;
    margin: auto;
    font: 18px;
    line-height: 28px;
    margin-block: 20px;
    color: #141414;
}

.header-button {
    margin-block-start: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-button-1 {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 101, 254, 1);
    color: white;
    border-radius: 100px;
    padding: 12px 24px 12px 24px;
    width: 142px;
    height: 40px;
}

.header-button-2 {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 24px;
    width: 142px;
    height: 40px;
    color: #0065FE;
}

.illustration-container {
    box-sizing: border-box;
    position: relative;
    top: 201px;
    left: 400px;
    width: 768px;
    height: 224px;
    padding: 40px 60px 40px 60px;
    border-radius: 24px;
    border: 0.5px solid #005AE2;
    background: rgba(254, 254, 254, 0.1);
    background: linear-gradient(-90deg, #ffffff, #e2e9f0);
}

.illustration-bg-img {
    display: inline;
    position: absolute;
    top: 100px;
    right: 1000px;
}

.illustration-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.illustration-link-curve {
    height: 80px;
    width: 80px;
    margin-inline-start: -12px;
}

.illustration-link-curve-2 {
    height: 80px;
    width: 80px;
}

.illustration-link-arrow {
    width: 40px;
    margin-inline: 15px;
}

.illustration-bottom p {
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: center;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: center;
}

.hero-section-bottom-img {
    position: absolute;
    width: 1440px;
    height: 93px;
    top: 930px;
    left: 230px;
}





/* DESKTOP 10 */
.desktop-10 {
    width: 1440px;
    margin-block-end: 100px;
}

.desktop-10-box-1 {
    width: 1440px;
    background-color: #F9FBFD;
}

.desktop-10-box-1-container {
    width: 1200px;
    height: 220px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-content: center;
    column-gap: 100px;
}

.desktop-10-box-1-left {
    width: 400px;
}

.desktop-10-box-1-left h2 {
    font-size: 30px;
    line-height: 48px;
    margin-inline-start: 100px;
}

.desktop-10-box-1-left h2 span {
    color: #005AE2;
}

.desktop-10-box-1-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    gap: 10px;
}

.desktop-10-box-1-right h3 {
    font-size: 28px;
    line-height: 40px;
    margin: 0;
    margin-block-start: 20px;
}

.desktop-10-box-1-right p {
    margin-block: 0;
}

.desktop-10-box-1-right {
    font-size: 16px;
    line-height: 24px;
}

.desktop-10-box-2 {
    box-sizing: border-box;
    margin: auto;
    width: 1202.1px;
    height: 504px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-block-start: 50px;
}

.desktop-10-box-2-left {
    width: 398.1px;
    height: 256px;
}

.desktop-10-box-2-left-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 340px
}

.desktop-10-box-2-left-top {
    margin-inline-start: 80px;
}

.desktop-10-box-2-left-top h2 {
    font-size: 30px;
    line-height: 32px;
}

.desktop-10-box-2-left-top h2 span {
    color: #005AE2;
}

.desktop-10-box-2-left p {
    font-size: 14px;
    line-height: 24px;
    margin-block: 0;
    margin-inline-start: 100px;
}

.desktop-10-box-2-left img {
    width: 5px;
    height: 48px;
    margin-inline-end: 20px;
}

.desktop-10-box-2-right {
    margin-block-start: 20px;
    width: 708px;
    height: 504px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.desktop-10-box-2-right h3{
    font-size: 28px;
    line-height: 24px;
}

.desktop-10-box-2-right p {
    font-size: 16px;
    line-height: 28px;
}

.desktop-10-box-2-img-conatainer {
    background-color: rgba(50, 132, 255, 0.13);
    height: 48px;
    width: 48px;
    border-radius: 50px;
}

.desktop-10-box-2-right img {
    width: 24px;
    height: 24px;
    padding-inline-start: 12px;
    padding-block-start: 12px;
}





/* DESKTOP-1 */
.desktop-1 {
    width: 1440px;
    height: 1073px;
    margin: auto;
}

.desktop-1-box-1 {
    max-width: 576.1px;
    height: 108px;
    margin: auto;
    text-align: center;
}

.desktop-1-box-1-header {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 576.1px;
    height: 48px;
}

.desktop-1-box-1-header h2 {
   width: 570px;
    font-size: 38px;
    line-height: 48px;
    padding-inline-start: 16px;
}

.desktop-1-box-1-header h2 span {
    color: #005AE2;
}

.desktop-1-box-1-header img {
    height: 48px
}

.desktop-1-box-1-header-p {
    width: 556px;
    height: 52px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-block-start: 10px;
    padding-inline-start: 12px;
}

.desktop-1-box-2 {
    width: 1088px;
    height: 672px;
    margin: auto;
    margin-block: 50px;
    display: flex;
    flex-direction: row;
}

.price-name {
    font-size: 20px;
    line-height: 30px;
    margin-block-end: 32px;
}

.price-description {
    margin-block-end: 0;
}

.price li {
    padding-block-start: 20px;
}

.price h2 {
    font-size: 32px;
    line-height: 40px;
    margin-block-end: 0;
}

.price ul {
    margin-block-start: 0;
    font-size: 14px;
    line-height: 24px;
}

.price-1 {
    width: 379px;
    height: 455px;
    margin-block-start: 100px;
    border: 0.4px solid rgba(0, 90, 226, 1);
    border-radius: 12px 0 0 12px;
    margin-inline-end: -1px;
}

.price-basic {
    position: relative;
    top: 24px;
    left: 72px;
}

.price-basic li::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-inline-end: 10px;
    margin-block-end: -3px;
    background-image: url('Images/check-circle-blue.png');
}

.price-2 {
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
    height: 672px;
    width: 410px;
    border-radius: 20px;
    position: relative;
    color: white;
}

.price-professional {
    position: relative;
    top: 104px;
    left: 84px;
}

.price-professional li::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-inline-end: 10px;
    margin-block-end: -3px;
    background-image: url('Images/check-circle-white.png');
}

.professional-price-offers li {
    font-size: 14px;
    line-height: 24px;
}

.price-3 {
    width: 379px;
    height: 455px;
    margin-block-start: 100px;
    border: 0.4px solid rgba(0, 90, 226, 1);
    border-radius: 0 12px 12px 0;
    margin-inline-start: -1px;
}

.price-teams {
    position: relative;
    top: 24px;
    left: 72px;
}

.price-teams li::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-inline-end: 10px;
    margin-block-end: -3px;
    background-image: url('Images/check-circle-blue.png');
}

.desktop-1-box-3-buttons{
    text-align: center;
    margin-block-start: 70px;
}

.price-button-1 {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  rgba(0, 101, 254, 1);
    color: #0065FE;
    border-radius: 100px;
    padding: 12px 24px 12px 24px;
    width: 200px;
    height: 48px;
}

.price-button-2 {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 101, 254, 1);
    color: white;
    border-radius: 100px;
    padding: 12px 24px 12px 24px;
    width: 200px;
    height: 48px;
}





/* DESKTOP-11 */
.desktop-11 {
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
    height: 523px;
}

.desktop-11-container {
    box-sizing: border-box;
    position: relative;
    top: 83.5px;
    left: 482px;
    background-color: white;
    width: 476px;
    height: 355px;
    border-radius: 12px;
}

.desktop-11-box-1 {
   position: relative;
   top: 42px;
   left: 42px;
}

.desktop-11-box-1-top {
   width: 392px;
    height: 55px;
    border: 1px solid #005AE2;
    border-radius: 16px;
    padding: 8px 12px 8px 12px;
    box-sizing: border-box;
    margin-block-end: 30px;
}

.desktop-11-box-1-top p {
    font-size: 12px;
    color: #005AE2;
}

.desktop-11-box-1-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 392px;
}

.desktop-11-box-1-bottom-left {
    flex-direction: row;
    border: 1px solid #005AE2;
    border-radius: 16px;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 202px;
    margin: auto;
    box-sizing: border-box;
}

.desktop-11-box-1-bottom p {
    font-size: 12px;
    color: #005AE2;
}

.desktop-11-box-1-bottom-left img {
    width: 12px;
    height: 6px;
}

.desktop-11-box-1-bottom-right {
    border: 1px solid #005AE2;
    border-radius: 16px;
    margin: auto;
    width: 178px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline: 0;
    padding: 18px 20px;
} 

.desktop-11-box-2{
    position: relative;
    top: 70px;
    left: 42px;
    width: 392px;
    font-size: 14px;
}

.desktop-11-box-2-top {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 392px;
    background-color: #005AE2; 
    border-radius: 100px;
}

.desktop-11-box-2-top a {
    display: block;
    margin: 0;
    text-align: center;
    color: white;
}

.desktop-11-box-2-top img {
    width: 24px;
    height: 24px;
    padding: 10px;
    gap: 10px;
}

.desktop-11-box-2-bottom p {
    font-size: 14px;
    line-height: 20px;
    margin-block-start: 24px;
    color: #005AE2;
}

.desktop-11-img-2 {
    position: absolute;
    left: 1100px;
    top: 400px; 
}

.desktop-11-img-3 {
    position: absolute;
    left: 1000px;
}

.desktop-11-img-4 {
    position: absolute;
    top: 2px;
    left: -30px;
}

.desktop-11-img-5 {
    position: absolute;
    top: 2px;
    left: -30px;
}

.desktop-11-img-6 {
    position: absolute;
    top: 2px;
    left: -30px;
}




/* FAQS */
.faqs {
   width: 1440px;
   height: 1153px;
   overflow: hidden;
   position: relative;
    margin: auto;
}

.faqs-container {
    width: 792px;
    height: 955px;
    margin: auto;
    margin-block-start: 30px;
}

.faqs-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.faqs-top h2 {
    font-size: 40px;
    line-height: 32px;
    padding-inline-start: 16px;
}

.faqs-top img {
    height: 48px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question p {
    margin-block: 15px;
    font-size: 18px;
    line-height: 32px;
}

.answer p {
    font-size: 14px;
    line-height: 32px;
}

.hide-answer {
    width: 14px;
    height: 14px;
}

.show-answer {
    width: 14px;
    height: 2px;
}

.faqs-bg-1 {
    position: absolute;
    left: 1200px;
    top: 850px;
}

.faqs-bg-2 {
    position: absolute;
    left: 1300px;
    top: 900px;
}

.faqs-bg-3 {
    position: absolute;
    left: 1350px;
    top: 950px;
}

.faqs-bg-4 {
    position: absolute;
    right: 1300px;
    top: -30px;
}

.faqs-bg-5 {
    position: absolute;
    left: -10px;
    top: -5px;
}

.faqs-bg-6 {
    position: absolute;
    left: -15px;
    top: -5px;
}




/* FRAME-11 */
.frame-11 {
    overflow: hidden;
    position: relative;
    width: 1440px;
    height: 299px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
}

.frame-11-container {
    width: 806px;
    height:137px;
    position: relative;
    top: 90px;
    left: 317px;
    color: white;
}

.frame-11 h2 {
    font-size: 40px;
    line-height: 48px;
}

.frame-11 a {
    width: 200px;
    height: 48px;
    margin: auto;
    padding: 12px 24px 12px 24px;
    background: rgba(0, 90, 226, 1);
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    text-decoration: none;
    color: white;
}

.frame-11-img-1 {
    position: absolute;
    top: 120px;
    left: 1000px;
    rotate: -5deg;
}

.frame-11-img-2 {
    position: absolute;
    left: 1050px;
    top: 170px;
}

.frame-11-img-3 {
    position: absolute;
    left: 1150px;
    top: 200px;
}

.frame-11-img-4 {
    position: absolute;
    right: 1050px;
    top: -50px;
}

.frame-11-img-5 {
    position: absolute;
    right: 1100px;
    top: -70px;
}

.frame-11-img-6 {
    position: absolute;
    right: 1100px;
    top: -100px;
}





/* FOOTER SECTION */
footer {
    width: 1440px;
    height: 561px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding-block-start: 100px; 
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.footer-box-1 {
    width: 184px;
    height: 96px;
    display: flex;
    margin-inline-end: 20px;
    flex-direction: column;
}

.logo {
    padding: 0;
}

.logo img {
    width: 155px;
}


.social-media {
    width: 184px;
    margin-block-start: 24px;
    display: flex;
    justify-content: space-between;
}

.social-icons {
    width: 24px;
    gap: 24px;
}

.footer-box-2 {
    width: 812px;
    height: 384px;
    margin-inline-start: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-box-2-column {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
}

.footer-box-2-column h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.footer-box-2-column-2 {
    width: 155px;
}

.footer-box-2-resources-padding-fix {
    margin-block-start: 43px;
}

.footer-box-2-features-padding-fix {
    margin-block-start: 20px;
}

.footer-box-2-legal-padding-fix {
    margin-block-start: 45px;
}

.footer-box-2-column li {
    font-size: 16px;
    line-height: 24px;
}

.footer-box-3 {
    margin-block-start: 30px;
}

.footer-box-3 ul {
    display: flex;
    justify-content: end;
    margin-inline-end: 100px;
}

.footer-box-3 li {
    padding-inline-start: 10px;
}

.footer-box-3 img {
    width: 2px;
}

.footer-bg-1 {
    position: absolute;
    top: 300px;
    left: 1100px;
}

.footer-bg-2 {
    position: absolute;
    top: 305px;
    left: 1150px;
}

.footer-bg-3 {
    position: absolute;
    top: 330px;
    left: 1250px;
}

.footer-bg-4 {
   position: absolute;
   top: 110px;
}

.footer-bg-5 {
   position: absolute;
   top: 200px;
}

.footer-bg-6 {
   position: absolute;
   top: 280px;
}